.box{
	width:100%;
	text-align: center;
}
/* 減號按鈕 */
.down{ 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid dimgray;
	border-right: none;
	width:40px;
	height:40px;
	background-color: white;
	text-align: center;
	margin:0px;
	padding:0px;
} 
/* 加號按鈕 */
.up{ 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:1px solid dimgray;
	width:40px;
	height:40px;
	background-color: white;
	text-align: center;
	margin:0px;
	padding:0px;
}
/* 加減號按鈕，滑鼠滑過事件 */
.up:hover, .down:hover{ 
	background-color:gray;
	border-color:gray;
	color:white;
}
/* 數量的文字方塊 */
input[type="number"]{
	border:1px solid dimgray;
	text-align:center;
	width:50px;
	height:40px;
	display:inline-block;
	border-radius:0px;
	margin:0px;
	padding:0px;
}
@media (max-width:1200px){
.down{
	width:25px;
}
.up{
	width:25px;
}
input[type="number"]{
	width:25px;
}
#sum{
	right:300px;
}
}

@media (min-width:768px){
#sum{
	right:0px;
	bottom:10px;
}
}
@media (max-width:767px){
#sum{
	bottom:20px;
	right:60px;
}
}