/* 產品圖片 */
.pimg{
	width:100%;
	height:500px;
	background-size: cover;
	background-position: center;
}
/* 側邊購物車 */
#sidebar-wrapper{
	position:fixed;
	top:0px;
	right:0px;
	margin-right:-350px;
	width:350px;
	height: 100%;
	background-color:white;
	overflow-y: auto;
	z-index: 9999;
	transition: all 0.4s ease 0s;
}
#sidebar-wrapper.active{
	width:350px;
	right:350px;
	transition: all 0.4s ease 0s;
}
#down{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid dimgray;
	border-right: none;
	width:40px;
	height:40px;
	background-color:white;
	text-align: center;
	margin:0px;
	padding:0px;
}
#up{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:1px solid dimgray;
	width:40px;
	height:40px;
	background-color: white;
	text-align: center;
	margin:0px;
	padding:0px;
}
#up:hover, #down:hover{
	background-color:rgb(0,123,255);
	border-color:rgb(0,123,255);
	color:white;
}
input[type="number"]{
	border:1px solid dimgray;
	text-align:center;
	width:50px;
	height:40px;
	display:inline-block;
	border-radius:0px;
	margin:0px;
	padding:0px;
}